#header {
  font-family: 'Unica One';
  font-size: 50px;
  background: linear-gradient(to right, rgba(134, 182, 182, 0.808), rgba(255, 255, 255, 0.808));
  background-color: rgba(134, 182, 182, 0.808);
}